
<div class="top-nav">
      <div class="row">
        <div class="columns large-6 medium-6">
          <ul class="top-list">
						<li><i class="fa fa-map-marker"></i>Gate 5, St.15, Industrial Area</li>
						<li><i class="fa fa-phone"></i> (974) 4460-0656</li>
						<li><i class="fa fa-envelope-o"></i> <a href="#">gatcowsp@gatco.qa</a></li>
					</ul>
        </div>

        <div class="columns large-4 medium-4">
          <ul class="top-list-right">
            <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
					</ul>
        </div>

        <div class="columns large-2 medium-2">
          <a class="button" href="#">Schedule Service</a>
        </div>
      </div>
</div>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <h3>GATCO <small>Gulf Automobiles and Trading Company</small></h3>
        </div>
      </div>
      <div class="row">
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Mechanic</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <section class="showcase">
      <div class="row">
        <div class="columns large-5 medium-5 large-offset-1 medium-offset-1">
          <div class="showcase-box">
            <h3>Fast, Timely, Realiable</h3>
            <p>Generate and sustain satisfied customers.</p>
            <div class="row">
              <div class="columns">
                    We provides always our best industrial solution for our clients and always try to achieve our client's trust and satisfaction
              </div>
            </div>
          </div>

          <div class="showcase-box-bottom">
            <div class="row">
              <div class="start-link columns">
                <h5><a href=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Set an appointment</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section id="choose">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="columns medium-8 medium-offset-2 text-center">
              <h2 class="title">Why Choose GATCO</h2>
              <p class="mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt, veritatis maiores doloribus ut id, nostrum. Temporibus odit quas illum eos dolores itaque facilis omnis beatae saepe eum. Odit labore vel temporibus quasi.</p>
            </div>
          </div>
          <div class="row">
            <div class="medium-3 columns">
              <div class="icon-box text-center">
                <a href="#" class="icon icon-gray icon-bordered bg-hover-theme-colored icon-circled icon-xl">
                  <img src='/assets/images/mechanic.jpg'>
                  <i class="flaticon-worker text-theme-colored font-48"></i>
                </a>
                <h4 class="icon-box-title text-uppercase"><a class="" href="#">Expert Mechanic</a></h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
              </div>
            </div>
            <div class="medium-3 columns">
              <div class="icon-box text-center">
                <a href="#" class="icon icon-gray icon-bordered bg-hover-theme-colored icon-circled icon-xl">
                  <img src='/assets/images/modern_tools.jpg'>
                </a>
                <h4 class="icon-box-title text-uppercase"><a class="" href="#">Modern Tools</a></h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
              </div>
            </div>
            <div class="medium-3 columns">
              <div class="icon-box text-center">
                <a href="#" class="icon icon-gray icon-bordered bg-hover-theme-colored icon-circled icon-xl">
                  <img src='/assets/images/cost_effective.jpg'>
                </a>
                <h4 class="icon-box-title text-uppercase"><a class="" href="#">Cost Effective</a></h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
              </div>
            </div>
            <div class="medium-3 columns">
              <div class="icon-box text-center">
                <a href="#" class="icon icon-gray icon-bordered bg-hover-theme-colored icon-circled icon-xl">
                  <img src='/assets/images/creative_thinking.jpg'>
                </a>
                <h4 class="icon-box-title text-uppercase"><a class="" href="#">Creative Thinking</a></h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="" style="background-image: url(/assets/images/background.jpg);">
        <div class="row">
          <div class="medium-12 columns">
            <div class="small-4">
              <div class="funfact text-center">
                <i class="fa fa-handshake-o fa-3x"></i>
                <h5 class="text-uppercase font-14 text-white">Vehicles Serviced</h5>
              </div>
            </div>
            <div class="small-4">
              <div class="funfact text-center">
                <i class="fa fa-file-text fa-3x"></i>
                <h5 class="text-uppercase font-14 text-white">Happy Clients</h5>
              </div>
            </div>
            <div class="small-4">
              <div class="funfact text-center">
                <i class="fa fa-trophy fa-3x"></i>
                <h5 class="text-uppercase font-14 text-white">Awards Won</h5>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="service">
      <div class="container-fluid pb-20">
        <div class="section-title text-center">
          <div class="row">
            <div class="medium-8 column medium-offset-2 text-center"> 
              <h2 class="title text-uppercase line-bottom-double-line-centered">Our Services</h2>
              <p class="font-13 mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vitae <br> eum animi iure necessitatibus repudiandae?</p>
            </div>
          </div>
        </div>

      </div>
    </section>

<section id="contact" class="bg-silver-light">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="medium-4 columns">
            <h2 class="font-36 text-uppercase line-height-1 mt-0">Contact <span class="text-theme-colored">Us</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo hic velit neque blanditiis eligendi! Quis esse, odit commodi cum provident nam magni.</p>
            <ul class="list-icon rounded theme-colored mt-15 mb-sm-30">
              <li><i class="fa fa-map-marker"></i>Address: Gate 5, St.15, Industrial Area, Doha, Qatar</li>
              <li><i class="fa fa-phone"></i>Phone: (974) 4460-0656</li>
              <li><i class="fa fa-envelope"></i>Email: gatcowsp@gatco.qa</li>
              <li><i class="fa fa-fax"></i>Fax: (974) 4460-0656</li>
            </ul>
          </div>
          <div class="medium-8 columns">          
            <!-- Contact Form -->
            <form id="contact_form" name="contact_form" class="" action="includes/sendmail.php" method="post" novalidate="novalidate">
              <div class="row">
                <div class="small-6 columns">
                  <div class="form-group mb-20">
                    <input name="form_name" class="form-control" type="text" placeholder="Enter Name" required="" aria-required="true">
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="form-group mb-20">
                    <input name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <div class="form-group mb-30">
                    <div class="styled-select">
                      <select id="car_select" name="car_select" class="form-control" required="" aria-required="true">
                        <option value="">- Select Your Vehicle Model -</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Jeep">Jeep</option>
                        <option value="Audi">Audi</option>
                        <option value="Truck">Truck</option>
                        <option value="Land Rover">Land Rover</option>
                        <option value="Lexus">Lexus</option>
                        <option value="Mazda">Mazda</option>
                        <option value="Mercedes - Benz">Mercedes - Benz</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Mitsubishi">Mitsubishi</option>
                        <option value="Saab">Saab</option>
                        <option value="Renault">Renault</option>
                        <option value="Mercury">Mercury</option>
                        <option value="Pontiac Porsche">Pontiac Porsche</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="form-group mb-30">
                    <input name="reservation_date" class="form-control required date-picker" type="text" placeholder="Reservation Date" aria-required="true">
                  </div>
                </div>
              </div>
                  <div class="form-group mb-20">
                <textarea name="form_message" class="form-control required" rows="5" placeholder="Enter Message" aria-required="true"></textarea>
              </div>
                  <div class="form-group">
                <input name="form_botcheck" class="form-control" type="hidden" value="">
                <button type="submit" class="button default" data-loading-text="Please wait...">Send your message</button>
                <button type="reset" class="button defualt">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#001018" style="background-image: url(&quot;images/footer-bg.png&quot;); background-position: initial !important; background-size: initial !important; background-repeat: initial !important; background-attachment: initial !important; background-origin: initial !important; background-clip: initial !important; background-color: rgb(0, 16, 24) !important;">
    <div class="container pt-70 pb-40">
      <div class="row border-bottom-black">
        <div class="small-6 medium-3 columns">
          <div class="widget dark">
            <img class="mt-10 mb-20" alt="" src="images/logo-wide-white-footer.png">
            <p>203, Envato Labs, Behind Alis Steet, Melbourne, Australia.</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">123-456-789</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="#">www.yourdomain.com</a> </li>
            </ul>
            <ul class="social-icons icon-bordered icon-circled icon-sm mt-15">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="small-6 medium-3 columns">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Latest News</h5>
            <div class="latest-posts">
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="#" class="post-thumb"><img alt="" src="images/blog/ln1.jpg"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>
                  <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="#" class="post-thumb"><img alt="" src="images/blog/ln2.jpg"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="#">Industrial Coatings</a></h5>
                  <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="#" class="post-thumb"><img alt="" src="images/blog/ln3.jpg"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="#">Storefront Installations</a></h5>
                  <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="small-6 medium-3 columns">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Useful Links</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">project</a></li>
              <li><a href="#">Latest News</a></li>
              <li><a href="#">Gallery</a></li>              
            </ul>
          </div>
        </div>
        <div class="small-6 medium-3 columns">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Quick Contact</h5>
            <form id="footer_quick_contact_form" name="footer_quick_contact_form" class="quick-contact-form" action="includes/quickcontact.php" method="post" novalidate="novalidate">
              <div class="form-group">
                <input id="form_email" name="form_email" class="form-control" type="text" required="" placeholder="Enter Email" aria-required="true">
              </div>
              <div class="form-group">
                <textarea id="form_message" name="form_message" class="form-control" required="" placeholder="Enter Message" rows="3" aria-required="true"></textarea>
              </div>
              <div class="form-group">
                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="Please wait...">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#001111" style="background: rgb(0, 17, 17) !important;">
      <div class="container pt-15 pb-10">
        <div class="row">
          <div class="col-md-12">
            <p class="font-12 text-gray m-0 text-center">Copyright ©2017 <span class="text-theme-colored">Gulf Automobiles & Trading Company</span>. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>